.draganddrop__container {
    width: -webkit-fill-available;
    display: flex;
    height: inherit;
}

.draganddrop__container_left_side {
    width: 70%;
}

.draganddrop__container_right_side {
    width: 30%;
    display: grid;
}

.topCard {}

.bottomCard {}

